<form method="post" action="/update/{{employee.id}}">
    {% csrf_token %}
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDIT EMPLOYEE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="mb-3">
            <input type="text" name="" class="form-control form-control-sm" required value="{{ employee.Date_of_Employement }}">
        </div>

        <div class="mb-3">
            <input type="text" name="" class="form-control form-control-sm" required value="{{ employee.Name }}">
        </div>

        <div class="mb-3">
            <input type="email" name="" class="form-control form-control-sm"  required value="{{ employee.Email }}">
        </div>

        <div class="mb-3">
            <input type="tel" name="" class="form-control form-control-sm"  required value="{{ employee.ID }}">
        </div>

        <div class="mb-3">
            <input type="tel" name="" class="form-control form-control-sm"  required value="{{ employee.Job }}">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-sm btn-success btn-block" value="Update">Update Employee
                    Details</button>
        </div>

    </div>
</div>

</form>